.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .login-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    opacity: 0.5;
    z-index: 9999;
  }
  
  .width-100 {
    width: 100%;
  }

  .background {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    background-image: url('https://images5.alphacoders.com/319/thumb-1920-319524.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }