<div class="background"></div>
<mat-card class="centered login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="width-100">
            <input matInput placeholder="Username" formControlName="login">
        </mat-form-field>
        <mat-form-field class="width-100">
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <div class="center">
            <button mat-raised-button color="primary" class="center">Zaloguj</button>
        </div>
    </form>
</mat-card>