<div class="nav">
    <div class="user-info" *ngIf='user'>
        {{user.login}}
    </div>
    <h1 class="list-title" mat-dialog-title>Lista zabójców</h1>
    <div class="add-button">
        <button mat-raised-button color="primary" (click)="openKillerDialog()">Dodaj</button>
    </div>
    <div style="clear: both;"></div>
</div>

<div class="table-container">
    <table class="mat-elevation-z8" mat-table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="pseudonym">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pseudonim </th>
            <td mat-cell *matCellDef="let element"> {{element.pseudonym}} </td>
        </ng-container>

        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stawka </th>
            <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Akcje </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="openKillerDialog(element.id)" mat-mini-fab color="primary" title="Edytuj">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteKiller(element)" mat-mini-fab color="primary" title="Usuń">
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="openAssignmentDialog(element.id)" mat-mini-fab color="primary" title="Zleć">
                    <mat-icon>work_outline</mat-icon>
                </button>
                <button [disabled]="!mapActive" (click)="findOnMapClick(element.location)" mat-mini-fab color="primary"
                    title="Zlokalizuj na mapie">
                    <mat-icon>place</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[1, 2, 20, 50 ,100]" showFirstLastButtons></mat-paginator> -->
</div>