table {
    display: table;
    width: 100%!important;
}

.table-container {
margin: 10px;
}

.list-title {
    float: left;
}
.add-button {
    float: right;
}
.nav {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}