<form [formGroup]="killerForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Dodaj zabójcę</h1>
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <mat-label>Pseudonim</mat-label>
      <input matInput [(ngModel)]="data.pseudonym" formControlName="pseudonym">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Stawka</mat-label>
      <input matInput [(ngModel)]="data.salary" type="number" formControlName="salary">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Lokalizacja dłużnika</mat-label>
      <input matInput [readonly]="true" [(ngModel)]="data.location" formControlName="location">
    </mat-form-field>
    <br />
    <button mat-button (click)="openDialog()">Wybierz lokalizację</button>
    <br />
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button *ngIf="data.id; else addButton" mat-button
      cdkFocusInitial>Zapisz</button>
    <ng-template #addButton>
      <button mat-button cdkFocusInitial>
        Dodaj
      </button>
    </ng-template>
  </div>
</form>