<h1 mat-dialog-title>Zleć</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Cel zlecenia</mat-label>
        <mat-select [disabled]="isDisabled" [formControl]="targetControl" [(ngModel)]="data.targetId">
            <mat-option *ngFor="let element of debtorList" [value]="element.id">
                {{element.name + " " + element.lastname}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br />
    <button *ngIf="isDisabled" (click)="cancelTarget()" mat-raised-button color="warn">Anuluj zlecenie</button>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button (click)="setTarget()" mat-button [mat-dialog-close]="data" cdkFocusInitial>Zapisz</button>
</div>