<div class="dashboard-menu">
  <div class="slide-container">
    <mat-form-field class="menu-widget-list" *ngIf="editMode" [style.color]="red">
      <mat-label>Widget do dodania</mat-label>
      <mat-select [disabled]="widgetListMenu.length == 0" [(ngModel)]="selectedWidget">
          <mat-option *ngFor="let element of widgetListMenu" [value]="element.type">
              {{element.options.title}}
          </mat-option>
      </mat-select>
  </mat-form-field>
  <button class="menu-button-save" *ngIf="editMode" [disabled]="selectedWidget == null" mat-raised-button color="primary" (click)="addWidget()">Dodaj</button>
  <button class="menu-button-save" *ngIf="editMode" mat-raised-button color="primary" (click)="saveDashboard()">Zapisz</button>
  <button class="menu-button-save" *ngIf="editMode" mat-raised-button color="primary" (click)="discardChanges()">Anuluj</button>
  <button class="menu-button-save" *ngIf="editMode" mat-raised-button color="primary" (click)="getDefaultDashboard()">Przywróć domyślne</button>
    <mat-slide-toggle class="menu-slider-edit-mode" [(ngModel)]="editMode" color="primary">
        Tryb Edycji
    </mat-slide-toggle>
</div>
</div>
<ngx-widget-grid  [showGrid]="true" [showGrid]="true" [rows]="100" [columns]="100" [highlightNextPosition]="false" class="grid">
  <ngx-widget [movable]="editMode" [resizable]="editMode" *ngFor="let widget of widgets" [(position)]="widget.position">
    <button class="delete-widget-button" *ngIf="editMode" mat-raised-button color="warn" (click)="deleteWidget(widget)">Usuń widget</button>
    <div style="height:100%;width:100%; display:flex; overflow: auto;" [ngSwitch]="widget.type">
        <div *ngSwitchCase="0" class="widget">
            <app-debtor-list [mapActive]="mapActive" [killerWidgetActive]="killerWidgetActive" [debtorWidgetActive]="debtorWidgetActive" (findOnMap)="findOnMap($event)" (refreshLocations)="refreshLocations($event)" (refreshDebtorList)="refreshDebtorList($event)" (refreshKillerList)="refreshKillerList($event)"></app-debtor-list>
        </div>
        <div *ngSwitchCase="1" class="widget">
          <app-killer-list [mapActive]="mapActive" [killerWidgetActive]="killerWidgetActive" [debtorWidgetActive]="debtorWidgetActive" (findOnMap)="findOnMap($event)" (refreshLocations)="refreshLocations($event)" (refreshDebtorList)="refreshDebtorList($event)" (refreshKillerList)="refreshKillerList($event)"></app-killer-list>
      </div>
        <div *ngSwitchCase="2" class="widget">
          <app-map [debtorsLocation]="debtorsLocation" [killersLocation]="killersLocation"></app-map>
        </div>
      </div>
  </ngx-widget>
</ngx-widget-grid>