.dashboard-menu {
    height: 50px;
}
.grid {
    height: calc(100% - 100px);
}
.slide-container {
    float: right;
    line-height: 50px;
    height: 50px!important;
}
.delete-widget-button {
    position: absolute;
    z-index: 21;
    margin: 10px;
}
.menu-widget-list {
    margin-left: 10px;
    margin-right: 10px;
}
.menu-button-save {
    margin-left: 10px;
    margin-right: 10px;
}
.menu-slider-edit-mode {
    margin-left: 10px;
    margin-right: 10px;
}

.mat-form-field-infix{
    border-top: 0px;
 }

 .widget {
     background-color: white;
    height:100%;
    width:100%; 
 }