<label id="example-radio-group-label">Lokalizacja dłużnika </label>
<br />
<label id="example-radio-group-label">{{data.location}}</label>
<div class="map-container">
    <app-map [(location)]="data.location" [markerType]="data.markerType" [addMarkerOnClick]="true"></app-map>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Potwierdź lokalizację</button>
</div>