<form [formGroup]="debtorForm" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Dodaj dłużnika</h1>
  <div mat-dialog-content>
    <mat-form-field class="example-full-width">
      <mat-label>Imię</mat-label>
      <input matInput [(ngModel)]="data.name" formControlName="name">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Nazwisko</mat-label>
      <input matInput [(ngModel)]="data.lastname" formControlName="lastname">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Wiek</mat-label>
      <input matInput [(ngModel)]="data.age" type="number" formControlName="age">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Zadłużenie</mat-label>
      <input matInput [(ngModel)]="data.debt" type="number" formControlName="debt">
    </mat-form-field>
    <br />
    <mat-form-field class="example-full-width">
      <mat-label>Lokalizacja dłużnika</mat-label>
      <input matInput [readonly]="true" [(ngModel)]="data.location" formControlName="location">
    </mat-form-field>
    <br />
    <button mat-button (click)="openDialog()">Wybierz lokalizację</button>
    <br />
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Anuluj</button>
    <button *ngIf="data.id; else addButton" mat-button cdkFocusInitial>Zapisz</button>
    <ng-template #addButton>
      <button mat-button cdkFocusInitial>Dodaj</button>
    </ng-template>
  </div>
</form>