<div class="nav">
    <div class="user-info" *ngIf='user'>
        {{user.login}}
    </div>
    <div class="nav-item">
        <button mat-raised-button color="primary" (click)="logout()">Wyloguj</button>
    </div>
</div>