.nav {
    width: calc(100% - 20px);
    height: 50px;
    background-color: white;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.user-info {
    display: inline-block;
    padding-right: 10px;
    color: #3f51b5;
    font-weight: bold;
}
.nav-item {
    display: inline-block;
    padding-right: 10px;
}
.slide-container {
    float: right;

    padding-right: 20px;
}