table 
{
    display: table;
    width: 100%!important;
}

.table-container 
{
    margin: 10px;
}

.mat-column-location {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 15% !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .list-title {
      float: left;
  }
  .add-button {
      float: right;
  }
  .nav {
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      padding-right: 10px;
  }