<div class="nav">
    <div class="user-info" *ngIf='user'>
        {{user.login}}
    </div>

    <h1 class="list-title" mat-dialog-title>Lista dłużników</h1>
    <div class="add-button">
        <button mat-raised-button color="primary" (click)="openDebtorDialog()">Dodaj</button>
    </div>
    <div style="clear: both;"></div>
</div>

<div class="table-container">
    <table class="mat-elevation-z8" mat-table matSort [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imię </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="lastname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nazwisko </th>
            <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Wiek </th>
            <td mat-cell *matCellDef="let element"> {{element.age}} </td>
        </ng-container>

        <ng-container matColumnDef="debt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dług </th>
            <td mat-cell *matCellDef="let element"> {{element.debt}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lokalizacja </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Akcje </th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" (click)="openDebtorDialog(element.id)" title="Edytuj">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="deleteDebtor(element)" mat-mini-fab color="primary" title="Usuń">
                    <mat-icon>delete</mat-icon>
                </button>
                <button [disabled]="!element.isTarget" (click)="forgive(element)" mat-mini-fab color="primary"
                    title="Wybacz">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button [disabled]="!mapActive" (click)="findOnMapClick(element.location)" mat-mini-fab color="primary"
                    title="Zlokalizuj na mapie">
                    <mat-icon>place</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[1, 2, 20, 50 ,100]" showFirstLastButtons></mat-paginator> -->
</div>